.git
.gradle
**/build
**/bin
**/out

.env
.env.*
**/.env
**/.env.*

backend/src/main/resources/application.properties
backend/src/main/resources/application-*.properties
backend/src/main/resources/firebase-service-account.json
backend/src/main/resources/service-account*.json
backend/src/main/resources/*firebase*adminsdk*.json
backend/src/main/resources/*-firebase-*.json

backend/src/main/resources/*.jks
backend/src/main/resources/*.p12
backend/src/main/resources/*.pem
backend/src/main/resources/*.key

backend/src/main/resources/data/*.csv
