.git
.gradle
build
bin
out

.env
.env.*

src/main/resources/application.properties
src/main/resources/application-*.properties
src/main/resources/firebase-service-account.json
src/main/resources/service-account*.json
src/main/resources/*firebase*adminsdk*.json
src/main/resources/*-firebase-*.json

src/main/resources/*.jks
src/main/resources/*.p12
src/main/resources/*.pem
src/main/resources/*.key

src/main/resources/data/*.csv
